.container {
  border-radius: 5px;
  width: 350px;
  background-color: rgb(136, 184, 136);
  padding: 13px;
  display: flex;
  flex-direction: row;
}

.submit {
  position: absolute;
  bottom: 100px;
}

.custom-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-1 {
  border: 2px solid #000;
}
.btn-1:hover {
  background: #000;
  color: #fff;
}

.modal {
  padding: 12px;

  width: 320px;
  text-align: center;
}

.clickedout, .popup {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.popup {
  display: flex;
  background: slateblue;
}
